* {
  box-sizing: border-box;
}

:root {
  --font-sen: "Sen", sans-serif;
  --pri-color: #ffb900;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/*============================================= common ======================================*/

.btn {
  display: inline-block;
  padding: 0 16px;
  line-height: 50px;
  min-width: 118px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 24.5px;
  background: #171100;
}

.break-all {
  word-break: break-all;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp.line-2 {
  --line-clamp: 2;
}

.heading-lv2 {
  color: #171100;
  font-family: var(--font-sen);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.27; /* 126.316% */
  letter-spacing: -0.76px;
}

.heading-lv4 {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 48px);
}

/* header */

header {
  background: #fffcf4;
}

.header.flex {
  position: sticky;
  top: -28px;
  z-index: 1;
}

.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.nav ul {
  display: flex;
}

.nav {
  margin-left: auto;
}

.nav a {
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
  position: relative;
}

.active a,
.nav a:hover {
  color: #171100;
  font-size: 1.6rem;
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
  position: absolute;
  display: block;
  left: 21px;
  bottom: 6px;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}

.btn-sign-up {
  min-width: 144px;
}

.action {
  margin-left: 49px;
}
/* ======================================hero==================================================== */
.hero {
  padding: 56px 0 65px;
  background: #fffcf4;
}

.hero .body {
  display: flex;
}

.hero .media-block {
  width: 48%;
  position: relative;
}

.hero .media-block .img {
  width: 470px;
  height: 685px;
  border-radius: 20px;
  object-fit: cover;
}

.hero .body .hero-summary {
  position: absolute;
  padding: 24px;
  width: 270px;
  bottom: 48px;
  right: 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
}

.hero .item {
  display: flex;
  align-items: center;
}

.hero .info {
  margin-left: 16px;
}

.hero-summary .icon {
  width: 48px;
  height: 48px;
  background-color: #fff9e8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon.icon2 {
  background-color: #fcefff;
}

.icon.icon3 {
  background-color: #ebeaff;
}

.hero .item + .item {
  margin-top: 22px;
}

.hero-summary .label {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}

.hero-summary .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

.hero .content-block {
  padding-left: 130px;
  width: 52%;
  padding-top: 64px;
}

.hero .heading {
  color: #171100;
  font-size: 5.8rem;
  font-family: var(--font-sen);
  font-weight: 700;
  line-height: 1.17; /* 117.241% */
  letter-spacing: -1.16px;
}

.hero .content-block .desc {
  padding-top: 28px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
}

.hero .cta-group {
  /* padding-top: 38px; */
  margin-top: 38px;
  display: flex;
  align-items: center;
}

.hero-cta {
  min-width: 180px;
  background-color: var(--pri-color);
  line-height: 64px;
  border-radius: 32px;
}

.hero .playvideo {
  border: none;
  background-color: transparent;
  display: flex;
  margin-left: 28px;
  align-items: center;
  cursor: pointer;
}

.hero .playvideo .icon {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.07);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero span {
  margin-left: 14px;
  width: 148px;
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

.hero .recent {
  margin-top: 48px;
}

.hero .stats strong {
  margin-right: 15px;
  color: #171100;
  font-family: var(--font-sen);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.22; /* 122.727% */
}

.hero .stats strong:nth-child(2) {
  margin-left: 28px;
}

.hero .stats {
  margin-top: 8px;
}

/* =========================================== popular====================================== */

.popular {
  padding: 65px 0;
  margin-top: 135px;
}

.popular .info .desc {
  margin-top: 16px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67;
}

.popular .popular-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular .controls {
  margin-left: 614px;
  display: flex;
  gap: 18px;
}

.popular .control-btn {
  /* border: none; */
  background-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--pri-color);
  border: 1px solid #ffb900;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popular .control-btn:hover {
  background-color: var(--pri-color);
  color: white;
  cursor: pointer;
}

/* ============================================popular-bottom================================ */
.popular .popular-bottom {
  display: flex;
}

.popular .blog0 {
  flex: 1;
  border-radius: 12px;
  border: 1px solid #e2dfda;
  background: #fff;
  width: 370px;
  height: 466px;
}

.popular .blog0:hover {
  width: 370px;
  height: 466px;
  border: 1px solid transparent;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 18px 36px 0 rgba(0, 0, 0, 0.05);
}

.popular-bottom {
  margin-top: 55px;
}

.popular-bottom .blog0 img {
  width: 100%;
  object-fit: cover;
  height: 278px;
  border-radius: 12px 12px 0 0;
}

.popular .juge img {
  width: 18px;
  height: 18px;
}

.popular .juge .number-juge {
  color: #fea31b;
  font-size: 1.6;
  line-height: 1.75; /* 175% */
}

.popular-bottom .blog0 .evaluate {
  display: flex;
  justify-content: space-between;
  margin: 16px 22px 0;
}

.blog0 .evaluate .juge {
  display: flex;
}

.popular .blog0 + .blog0 {
  margin-left: 30px;
}

.popular-bottom .desc {
  width: 326px;
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
  margin: 6px 22px 0;
}

.popular-bottom .cost {
  display: flex;
  justify-content: space-between;
  margin: 12px 22px 0;
  align-items: center;
}

.popular-bottom .btn-bottom {
  min-width: 118px;
  height: 50px;
}

.popular .btn-bottom:hover {
  border-radius: 25px;
  background: var(--pri-color);
}

.popular .juge {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
}

/* =========================== feed back ==================================================== */

.feedback {
  margin-top: 135px;
  background: #2e2100;
  padding: 96px 0;
}

.feedback-list {
  display: flex;
  overflow: hidden;
}

.feedback .body {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}

.feedback .member .ava {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
}

.feedback .member .title {
  margin-top: 18px;
  color: #f7f7f7;
  font-family: var(--font-sen);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.42; /* 141.667% */
}

.feedback .member .desc {
  margin-top: 4px;
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}

.feedback .dots {
  display: flex;
}

.feedback .dot + .dot {
  margin-left: 6px;
}

.feedback .dot.active {
  background-color: #ffb900;
}

.feedback .member .dot {
  margin-top: 28px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #634700;
}

.feedback .member .dot:hover {
  background-color: #ffb900;
  cursor: pointer;
}

.feedback .feel img {
  margin-left: 241px;
  width: 30px;
  height: 28px;
  fill: #634700;
}

.feedback .feel .desc {
  margin-left: 271px;
  width: 740px;
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  line-height: 1.54; /* 153.846% */
}

/* =========================================== features ====================================================================*/
.features {
  margin-top: 135px;
  padding: 65px;
}

.features .body {
  display: flex;
  height: 438px;
  justify-content: space-between;
  box-shadow: 6px 10px 7px #ebeaff;
  border-radius: 20px;
}

.features .images {
  display: flex;
  gap: 30px;
}

.features .pictr {
  width: 270px;
  height: 404px;
  border-radius: 16px;
}

.features .lower {
  margin-top: 34px;
}

.features .content {
  width: 41%;
  margin-left: 130px;
  margin-top: 58px;
  align-content: center;
}

.features .desc {
  margin-top: 16px;
  color: #5f5b53;
  font-size: 1.6rem;
  line-height: 1.75;
}

.features .cta-group {
  margin-top: 32px;
  min-width: 137px;
  border-radius: 26px;
}

.features .cta-group:hover {
  background-color: var(--pri-color);
}

/* ==================================== features 2 ================================================================ */
.features-2nd .body {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.features-2nd {
  margin-top: 70px;
}

.features-2nd .images .pictr {
  width: 470px;
  height: 440px;
  border-radius: 20px;
}
.features-2nd .content {
  margin-left: 0;
}

.features-2nd .content {
  width: 49%;
}
/* <!---------------------------------------- blog -------------------------------------- --> */

.blog {
  padding: 96px 0;
  margin-top: 135px;
}

.blog .content {
  text-align: center;
}

.blog .content .heading-lv2 {
  color: #130606;
  font-family: var(--font-sen);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.27; /* 126.316% */
  letter-spacing: -0.76px;
}

.blog .content .desc {
  margin-top: 16px;
  width: 448px;
  color: #696262;
  font-size: 1.6rem;
  line-height: 1.75; /* 175% */
  margin: 16px auto 0;
}

.blog .info {
  margin-top: 55px;
  display: flex;
  gap: 30px;
}

.blog .item {
  border-radius: 16px;
  background-color: #fff;
}

.blog .item:hover {
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
}

.blog .info .thumb {
  width: 370px;
  height: 250px;
  border-radius: 16px 16px 0 0;
  object-fit: cover;
}

.blog .item .date {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
  display: flex;
  align-items: center;
  position: relative;
}

.blog .item .date::before {
  content: "";
  display: inline-block;
  margin-right: 4px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--pri-color);
}

.blog .item .date::after {
  margin-top: 12px;
  content: "";
  display: block;
  width: 160px;
  height: 1px;
  border-radius: 0.5px;
  background: #e2dfda;
  position: absolute;
  bottom: -12px;
  left: 0;
}

.blog .info .pad {
  margin: 20px 20px 28px;
}

.blog .info .title {
  margin-top: 12px;
  color: #171100;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75; /* 175% */
}

.blog .info .btn-blog {
  margin-top: 12px;
  font-size: 1.4rem;
}

.blog .info .btn-blog:hover {
  background-color: var(--pri-color);
}

.blog .dots-list {
  display: flex;
  gap: 6px;
  justify-content: center;
  margin-top: 38px;
}

.blog .dot-list {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #5f5b53;
  cursor: pointer;
}

.blog .dot-list:active {
  background-color: var(--pri-color);
  cursor: default;
}

/* ===================== footer =============================== */
.footer {
  margin-top: 96px;
  background-color: #2e2100;
}

.footer .footer-list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 38px;
  border-bottom: 1px solid #59554b;
}

.footer .item {
  margin-top: 96px;
  width: 21.67%;
}

.footer .item:first-child {
  width: 35%;
}

.footer .item1 .desc {
  margin: 18px 0;
  width: 267px;
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}

.footer .item .logo-social {
  color: #fff;
}

.footer .item .logo-social + .logo-social {
  margin-left: 10px;
}

.footer .item2 {
  margin-left: 145px;
}

.footer .item .title {
  color: #fff;
  font-size: 1.6rem;
  display: inline-block;
  font-weight: 600;
  line-height: 1.75; /* 175% */
  padding-bottom: 14px;
  padding-right: 48px;
  border-bottom: 1px solid #59554b;
}

/* .footer .item .title::after {
  content: "";
  display: inline-block;
  width: 130px;
  height: 1px;
  background-color: #59554b;
  margin-top: 14px;
} */

.footer .help {
  display: block;
}

.footer .item a.help:first-of-type {
  padding-top: 16px;
  /* color: orange; */
}

.footer .item a.help {
  margin-top: 12px;
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}

.footer .item3 {
  margin-left: 130px;
}

.footer .item3 .location {
  width: 231px;
  display: inline-block;
}

.footer .item4 {
  margin-left: 137px;
}

.footer .copyright {
  color: #807d74;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
  padding: 28px 0;
  /* margin: 28px auto; */
}
